<a href="https://colab.research.google.com/github/myatkthwe/MMDT_T-PY101_Batch03/blob/main/exercises/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
len("My name is python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [4]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
count = s.lower().count("python")
print("Python appears {} times".format(count))

Python appears 2 times

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [7]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
ls3 = ls1 + ls2
print(ls3)
print(len(ls3))

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']
8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [14]:
dict = [
    {"Name": "Myo", "Age": 32},
    {"Name": "Thida", "Age": 64}
]
print(dict)

[{'Name': 'Myo', 'Age': 32}, {'Name': 'Thida', 'Age': 64}]

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [18]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

combined_set = set1.union(set2)

print("Combined set:", combined_set)
print("Length of combined set:", len(combined_set))

Combined set: {'status', 'Name', 'age', 'Education', 'Height'}
Length of combined set: 5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [25]:
userinput = input("Please enter a string: ")

if len(userinput) >= 2:
    # Change the second character to an asterisk
    new_string = userinput[0] + '*' + userinput[2:]
else:
    new_string = userinput

# Attach three exclamation points to the end of the string
new_string = new_string + '!!!'

print(new_string)

Please enter a string: Hey Kay
H*y Kay!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [26]:
import string

s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

# Convert to lowercase
cleaned_s = s.lower()

# Remove specified punctuation marks
cleaned_s = cleaned_s.replace('.', '')
cleaned_s = cleaned_s.replace('-', '')
cleaned_s = cleaned_s.replace(',', '')

print(cleaned_s)

floatingpoint values in python are always done in double precision; hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [31]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))

set_L1 = set(L1)
set_L2 = set(L2)

missing_number = list(set_L1 - set_L2)[0]

print(f"The missing number in L2 is: {missing_number}")

The missing number in L2 is: 36

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [33]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ls1.copy() + ["blueberry"]

print(ls2)

['apple', 'banana', 'cherry', 'blueberry']